<p id="notice"><%= notice %></p>

<p>
  <strong>From user:</strong>
  <%= @chat.from_user %>
</p>

<p>
  <strong>To user:</strong>
  <%= @chat.to_user %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
